services:
  db:
    image: postgres:16-alpine
    restart: always
    environment:
      POSTGRES_DB: deartime
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - ./pgdata:/var/lib/postgresql/data
    ports:
      - "5433:5432"

    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB} -h db || exit 1" ]
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 10s

  backend:
    build: .
    ports:
      - "8080:8080"
    env_file:
      - .env

    depends_on:
      db:
        condition: service_healthy

    environment:
      DB_URL: jdbc:postgresql://db:5432/deartime?timeZone=Asia/Seoul